.chart_test{
	height: 100%;
	width: 100%;
	min-height: 100%;
	min-width: 100%;
	display: block;
	margin-left: 10px: 
}

#Q1{
	position: absolute;
	top: 0%;
}
#Q11{
	position: absolute;
	top: 100%;
}
#Q2{
	position: absolute;
	top: 500%;
}
#Q3{
	position: absolute;
	top: 300%;
}

#situacoes_linha{
	position: absolute;
	top: 400%;
}
